{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1> Welcome to registration</h1>
        <p> Fill the form below and get access to our forum</p>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.email.label }} {{ form.email }}<br>
            {{ form.username.label }} {{ form.username }}<br>
            {{ form.password.label }} {{ form.password }}<br>
            {{ form.password_confirm.label }} {{ form.password_confirm }}<br>
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}}